	body {
	
	background-color:Azure;
	}
	
	q {
		
		background-color:lightgrey;
		color:black;
	}
	
	marquee {
		
		background-color:lightskyblue;
		width:100%;
		height:50;
		direction:left;
		behaviour:alternate;
		scrolldelay:100;
		loop:10;
	}

	